.main {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    gap: 130px;
}

// первая секция приветственной страницы

.first-section {
    margin: 0 auto;
    padding: 0;
    display: grid;
    column-gap: 100px;
    grid-template-columns: 565px 1fr;
    grid-template-areas:
  "title statistic"
  "description-list statistic"
  "button statistic";
    position: relative;
}

.first-section-main-title {
    grid-area: title;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 70px;
}

.first-section-main-title span {
    color: rgb(106, 207, 200);
    padding-left: 25px;
}

.first-section-description-list {
    list-style: none;
    padding: 0;

    grid-area: description-list;
    margin-bottom: 50px;
}

.first-section-description-list-item {
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.first-section-start-btn {
    grid-area: button;

    color: rgb(30, 145, 110);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;

    box-sizing: border-box;
    border: 3px solid rgb(106, 207, 200);
    border-radius: 10px;
    padding: 10px;
    background: transparent;

    width: 100%;
}

.first-section-statistic-photo {
    grid-area: statistic;
    align-self: center;
    justify-self: center;
}

.first-section-frame {
    position: absolute;
    top: 93px;
    left: 275px;
}


// вторая секция приветственной страницы

.second-section {
    margin: 0 auto;
}

.second-section-title {
    margin-bottom: 70px;

    color: #555555;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;

    text-align: center;
}

.second-section-cards {
    list-style: none;
    margin: 0;

    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    justify-content: center;
}


.second-section-card {
    border-radius: 20px;
    background: rgb(234, 248, 244);
    max-width: 381px;

    padding: 30px 40px;
}

.second-section-card-title-container {
    margin-bottom: 25px;

    display: flex;

    gap: 13px;
    justify-content: center;
}

.second-section-card-title {
    box-sizing: border-box;
    border: 1px solid rgb(106, 207, 200);
    border-radius: 30px;
    width: 100vw;

    color: rgb(106, 207, 200);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section-card-img {
    border: 1px solid rgb(106, 207, 200);
    border-radius: 30px;
    padding: 7px 19.5px;
}

.second-section-card-desc {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.second-section-card-desc {
    margin-top: 20px;
}

.second-section-card-desc-bold {
    margin-top: 30px;
}


// третья секция приветственной страницы

.third-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 62px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 70px;
}

.third-section-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    gap: 75px;
    padding: 70px 0 200px;
}

.third-section-card {
    width: 376px;
    padding: 20px 45px 52px;
    background: rgb(234, 248, 244);
    border-radius: 20px;
}

.third-section-card-img {
    display: block;
    margin: -50px auto 21px;

    border: 1px solid rgb(110, 211, 193);
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;

}

.third-section-card-title {
    margin: 0 0 23px;

    font-size: 23px;
    text-align: center;

    color: #555555;
}

.third-section-card-desc {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden-auth {
    display: none;
}

// Адаптация под устройства шириной экрана до 1300px
@media (max-width: 1300px) {

    // первая секция приветственной страницы
    .first-section {
        display: block;
        width: 720px;
    }

    .first-section-main-title {
        font-size: 96px;
    }

    .first-section-description-list-item {
        font-size: 22px;
    }

    .first-section-statistic-photo {
        display: none;
    }

    .first-section-frame {
        top: 120px;
        left: 345px;
    }
}


// Адаптация под устройства шириной экрана до 760px
@media (max-width: 760px) {

    // первая секция приветственной страницы
    .first-section {
        width: 440px;
        align-items: center;

        padding: 0 20px;
    }

    .first-section-description-list-item {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .first-section-frame {
        top: 240px;
        left: 15px;
    }


    // третья секция приветственной страницы
    .third-section-title {
        font-size: 46px;
    }
}


// Адаптация под устройства шириной экрана до 480px
@media(max-width: 480px) {

    // первая секция приветственной страницы
    .first-section {
        width: 280px;

        padding: 0 20px;
    }

    .first-section-main-title {
        font-size: 60px;
        align-items: center;
        margin-bottom: 40px;
    }

    .first-section-description-list-item {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .first-section-frame {
        top: 128px;
        left: 23px;
        width: 190px;
    }


    // вторая секция приветственной страницы
    .second-section-title {
        font-size: 40px;

        text-align: center;
    }


    .second-section-card {
        max-width: 260px;

        padding: 30px 20px;
    }

    .second-section-card-title-container {
        gap: 8px;
    }

    .second-section-card-title {
        font-size: 15px;
    }

    .second-section-card-img {
        width: 32px;
        padding: 7px 15px;
    }

    .second-section-card-desc {
        font-size: 14px;
    }


    // третья секция приветственной страницы
    .third-section-title {
        font-size: 36px;
    }

    .third-section-card {
        width: 260px;

        padding: 0 20px;
    }
}
