<header class="navigation">
    <ul class="menu-list">
        <li class="menu-list-item">
            <a class="link" href="#main">ГЛАВНАЯ</a>
        </li>
        <li class="menu-list-item">
            <a class="link" href="#clients">КОМУ ПОДОЙДЕТ?</a>
        </li>
        <li class="menu-list-item">
            <a class="link" href="#possibilities">ВОЗМОЖНОСТИ</a>
        </li>
    </ul>
    <div class="navigation-container">
        <button (click)="openDialogLogIn(login, 's')" class="authorization-btn">ВОЙТИ</button>
        <button (click)="openDialogRegistration(registration, 's')" class="registration-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    </div>

    <button
        (click)="toggleSidebar(true)"
        (tuiActiveZoneChange)="toggleSidebar($event)"
        class="mobile-menu"
    >
        <img alt="Меню" height="40" ngSrc="assets/img/mobile-menu.svg" width="40">

        <div *tuiSidebar="isCollapsed; direction: 'right'">
            <button
                (click)="toggleSidebar(false)"
                (tuiActiveZoneChange)="toggleSidebar($event)"
                class="mobile-menu-close"
            >
                <img alt="Закрыть меню" height="25" ngSrc="assets/img/close.svg" width="25">
            </button>
            <ul class="mobile-menu-list">
                <li class="mobile-menu-list-item">
                    <a class="link mobile-a" href="#main">Главная</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="link mobile-a" href="#clients">Кому подойдет?</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="link mobile-a" href="#possibilities">Возможности</a>
                </li>
            </ul>
            <div class="mobile-navigation-container">
                <button (click)="openDialogLogIn(login, 's')" class="mobile-authorization-btn">ВОЙТИ</button>
                <button (click)="openDialogRegistration(registration, 's')" class="mobile-registration-btn">
                    ЗАРЕГИСТРИРОВАТЬСЯ
                </button>
            </div>
        </div>
    </button>

    <ng-template #login>
        <app-login></app-login>
    </ng-template>

    <ng-template #registration>
        <app-registration></app-registration>
    </ng-template>
</header>

<app-login class="hidden-auth"></app-login>
<app-registration class="hidden-auth"></app-registration>
