<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-column">
      <div class="logo">
        <h2>FINANCE.RU</h2>
      </div>
      <p class="footer-desc">
        Мы взяли все сложности финансового планирования, контроля и учета на себя.
      </p>
    </div>

    <ul class="footer-navigation-topics">
      <li class="footer-navigation-topic">
        <ul class="footer-navigation">
          <li class="footer-navigation-item">
            <a routerLink="#">О сайте</a>
          </li>
          <li class="footer-navigation-item">
            <a routerLink="#">Пользовательское соглашение</a>
          </li>
          <li class="footer-navigation-item">
            <p>Поддержка пользователей:</p>
            <a href="mailto:support@finance.ru">support&#64;finance.ru</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="policy">
    <p>
      Все использованные на этой странице имена, понятия и графические изображения
      могут представлять собой торговые знаки или фирменные наименования и являться
      собственностью их законных владельцев.
      <br/>Права на все упомянутые и использованные торговые знаки или фирменные
      наименования принадлежат исключительно их законным владельцам.
    </p>
  </div>

  <div class="copyright">
    <p>© 2024 Finance Ltd</p>
  </div>
</footer>
