<tui-root>
    <tui-tabs>
        <button
            tuiTab
            routerLink="/dashboard/settings/editProfile"
            routerLinkActive="active"
        >
            Изменить профиль
        </button>
        <button
            tuiTab
            routerLink="/dashboard/settings/preferences"
            routerLinkActive="active"
        >
            Предпочтения
        </button>
        <button
            tuiTab
            routerLink="/dashboard/settings/security"
            routerLinkActive="active"
        >
            Конфиденциальность
        </button>
    </tui-tabs>
</tui-root>
