ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    width: 350px;
    height: 235px;
    border-radius: 25px;
    line-height: 15px;
    color: rgb(52, 60, 106);
    background: rgb(255, 255, 255);

    .card-header {
        padding: 25px 24px 0;


        display: flex;
        justify-content: space-between;

        .balance {
            margin-top: 5px;
            font-size: 20px;
        }
    }

    .card-content {
        padding: 25px 24px 0;

        display: flex;
        height: 80px;
        overflow: hidden;


        .list-item-title {
            color: rgba(113, 142, 191, 0.7);
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }

        .list-item-value {
            font-size: 15px;
            font-weight: 250;
            line-height: 18px;
        }

        .content-list-card-name {
            width: 200px;
            margin-right: auto;
        }

        .content-list-date-created {
            width: 100px;
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 25px 25px;
        padding: 0 24px;
        height: 70px;

        border: 1px solid rgb(223, 234, 242);

        .footer-title {
            font-size: 18px;
            font-weight: 250;
            line-height: 27px;
        }

        .payment-system-img {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    cursor: pointer;
}



.selected {
    background: linear-gradient(135.29deg, rgb(45, 96, 255) 2.349%,rgb(83, 155, 255) 101.077%);
    color: white;

    .card-content {
        .list-item-title {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .card-footer {
        border: none;
        background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0) 100%);
    }
}


@media (max-width: 800px) {
    .card {
        width: 265px;
        height: 170px;

        .card-header {
            .chip-icon-img {
                width: 29px;
                height: 29px;
            }

            .balance {
                font-size: 16px;
            }

            .list-item-title {
                font-size: 13px;
            }
        }

        .card-content {
            padding-top: 10px;
            height: 50px;

            .list-item-title {
                font-size: 10px;
            }

            .list-item-value {
                font-size: 13px;
            }

            .content-list-card-name {
                width: 140px;
            }

            .content-list-date-created {
                width: 80px;
            }
        }

        .card-footer {
            height: 51px;

            .footer-title {
                font-size: 15px;
            }

            .payment-system-img {
                width: 40px;
                height: 26.6px;
            }
        }
    }
}
